body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;
  text-align: center;
}
