@font-face {
  font-family: "Comic Sans Custom";
  src: url("/fonts/comic-sans-ms.woff2")
  format("woff2");
}

body {
  font-family: "Comic Sans Custom", cursive;
  background-color: white;
  color: black;
  margin: 0:
}
.container {
  max-width: 700px;
  margin: 0;
  text-align: center;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
